{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Choix d'une catégorie{% endblock %}

{% block body %}

    <div class="container">
{{ form_start(form) }}
    {{ form_row(form.name) }}
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>

{% endblock %}