{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="col-6">
        <h2>Voici l'article : {{ articles.title }} </h2>
            <p>{{ articles.content }}</p>
        <p>Cet article appartient à la catégorie : <strong>{{ articles.category.name }}</strong></p>
    </div>

    <strong>Tags :</strong>
    <ul>
        {% for tag in articles.tags %}
            <li>{{ tag.name }} </li>
        {% else %}
            <li>No tags for this article</li>
        {% endfor %}
    </ul>
{% endblock %}