{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="col-6">
        <h2>Voici l'article : {{ article.title }} </h2>
            <p>{{ article.content }}</p>
        <p>Cet article appartient à la catégorie : <strong>{{ article.category.name }}</strong></p>
    </div>
{% endblock %}