{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <p>Je suis le tag machin truc : <strong>{{ tag.name }}</strong></p>
    {% for article in tag.articles %}
    <h3>{{ article.title }}</h3>
        <p>{{ article.content }}</p>
    {% endfor %}
{% endblock %}